# <font color=darkblue> Machine Learning model deployment with Flask framework</font>

## <font color=Blue>Used Cars Price Prediction Application</font>

### Objective:
1. To build a Machine learning regression model to predict the selling price of the used cars based on the different input features like fuel_type, kms_driven, type of transmission etc.
2. Deploy the machine learning model with the help of the flask framework.

### Dataset Information:
#### Dataset Source: https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho?select=CAR+DETAILS+FROM+CAR+DEKHO.csv
This dataset contains information about used cars listed on www.cardekho.com
- **Car_Name**: Name of the car
- **Year**: Year of Purchase
- **Selling Price (target)**: Selling price of the car in lakhs
- **Present Price**: Present price of the car in lakhs
- **Kms_Driven**: kilometers driven
- **Fuel_Type**: Petrol/diesel/CNG
- **Seller_Type**: Dealer or Indiviual
- **Transmission**: Manual or Automatic
- **Owner**: first, second or third owner

### 1. Import required libraries

In [21]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline 

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings('ignore')

### 2. Load the dataset

In [4]:
df = pd.read_csv('car+data.csv')
df.sample(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
144,Bajaj Pulsar NS 200,2014,0.60,0.99,25000,Petrol,Individual,Manual,0
174,Honda CB Unicorn,2015,0.38,0.72,38600,Petrol,Individual,Manual,0
293,city,2010,3.25,9.90,38000,Petrol,Dealer,Manual,0
156,TVS Sport,2017,0.48,0.52,15000,Petrol,Individual,Manual,0
62,fortuner,2014,18.75,35.96,78000,Diesel,Dealer,Automatic,0

### 3. Check the shape and basic information of the dataset.

In [5]:
df.shape

(301, 9)

### 4. Check for the presence of the duplicate records in the dataset? If present drop them

In [6]:
len(df[df.duplicated()])

2

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
len(df[df.duplicated()])

0

In [14]:
df.shape

(299, 8)

### 5. Drop the columns which you think redundant for the analysis.

In [10]:
redundant_columns = ['Car_Name']  
df.drop(columns=redundant_columns, inplace=True)

In [15]:
df.shape

(299, 8)

In [11]:
df.sample(5)

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
187,2013,0.25,0.51,32000,Petrol,Individual,Manual,0
287,2015,5.75,7.50,44000,Petrol,Dealer,Automatic,0
117,2015,1.10,1.90,14000,Petrol,Individual,Manual,0
283,2016,8.99,11.80,9010,Petrol,Dealer,Manual,0
266,2014,3.65,7.00,35000,Petrol,Dealer,Manual,0

### 6. Extract a new feature called 'age_of_the_car' from the feature 'year' and drop the feature year

In [17]:
from datetime import datetime
current_year = datetime.now().year
df['age_of_the_car'] = current_year - df['Year']

# Droping the 'Year' feature
df.drop(columns=['Year'], inplace=True)

# Display the updated dataset

df.sample(5)

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,age_of_the_car
121,1.05,1.50,6900,Petrol,Individual,Manual,0,13
232,11.45,14.79,12900,Petrol,Dealer,Automatic,0,9
190,0.20,0.75,60000,Petrol,Individual,Manual,0,16
144,0.60,0.99,25000,Petrol,Individual,Manual,0,10
245,5.20,9.40,71000,Diesel,Dealer,Manual,0,12

### 7. Encode the categorical columns

In [22]:
encoding_dicts = {
    'Fuel_Type': {'Petrol': 0, 'Diesel': 1, 'CNG': 2},
    'Seller_Type': {'Dealer': 0, 'Individual': 1},
    'Transmission': {'Manual': 0, 'Automatic': 1}
}

for column, encoding_dict in encoding_dicts.items():
    df[column] = df[column].replace(encoding_dict)
    
df.sample(5)

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,age_of_the_car
127,0.75,0.80,7000,2,1,1,0,8
239,2.00,4.43,23709,2,0,1,0,12
284,3.50,5.90,9800,2,0,1,0,11
138,0.60,0.87,15000,2,1,1,0,8
106,1.35,3.45,16500,2,1,1,1,10

### 8. Separate the target and independent features.

In [24]:
X = df.drop('Selling_Price',axis=1)
y = df['Selling_Price']

### 9. Split the data into train and test.

In [25]:
## Split the data in to train and test 

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=0)
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(209, 7) (90, 7)
(209,) (90,)

### 10. Build a Random forest Regressor model and check the r2-score for train and test.

In [27]:
# Model building 
rf = RandomForestRegressor()
rf.fit(X_train,y_train)

RandomForestRegressor()

In [31]:
y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

In [32]:
r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print("r2_score of  train:", r2_train)
print("r2_score of  test:", r2_test)

r2_score of  train: 0.9829007126213432
r2_score of  test: 0.9103549207366858

### 11. Create a pickle file with an extension as .pkl

In [33]:
## Pickle of the model 
import pickle 
pickle.dump(rf,open('model.pkl','wb'))

## Read
model = pickle.load(open('model.pkl','rb'))

### 12. Create new folder/new project in visual studio/pycharm that should contain the "model.pkl" file *make sure you are using a virutal environment and install required packages.*

### a) Create a basic HTML form for the frontend

Create a file **index.html** in the templates folder and copy the following code.

### b) Create app.py file and write the predict function

In [ ]:
import numpy as np
import pickle
import sklearn
from flask import Flask, request, jsonify, render_template

app = Flask(__name__)
model = pickle.load(open('model.pkl','rb'))

@app.route('/',methods = ['GET'])
def home():
    return render_template('index.html')

@app.route('/predict', methods = ['POST'])
def predict():
    if request.method == 'POST':
        Present_Price = float(request.form['Present_Price'])
        Kms_Driven = int(request.form['Kms_Driven'])
        Owner = int(request.form['Owner'])
        Fuel_Type = request.form['Fuel_Type']
        Age_of_the_car = request.form['Age_of_the_car']
        Seller_Type = request.form['Seller_Type']
        Transmission= request.form['Transmission']

        prediction = model.predict([[Present_Price,Kms_Driven,Owner,Fuel_Type,Age_of_the_car,Seller_Type,Transmission]])
        output = round(prediction[0],2)
        return render_template('index.html',prediction_text="You can sell your car at {} lakhs".format(output))

if __name__ == '__main__':
        app.run(debug=True)

### 13. Run the app.py python file which will render to index html page then enter the input values and get the prediction.

### Happy Learning :)